:root{
    --brand-color:#023875;
    --text-color:#343434;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
  }
  img{
    display: block;
    height: 100%;
    width: 100%;
  }
  h1,h2{
      color:var(--brand-color) ;
  }
  .wrap{
      min-height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:var(--text-color);
    padding-top: 65px ;
    padding-bottom: 113px;
    width: 100%;
   
  }
  .wrap:after{
    content:"";
    position: absolute;
    top: 0;
    border-radius:5px;
    display: block;
    width: 100%;
    height: 40px;
    background-color: var(--brand-color);
    z-index: -1;
  }
  .wrap:before{
    content:"© Банкетный теплоход КолесовЪ";
    position: absolute;
    bottom: 0;
    border-radius:5px;
    color: #fff;
    align-items: center;
    justify-content: center;
    display:flex;
    width: calc(100% - 24px); 
    height: 40px;
    background-color: var(--brand-color);
    z-index: -1;
  }
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 14px 0 16px;
}
.header-title {
    color: var(--brand-color);
}
.header-title span{
    font-size: 24px;
    word-spacing: 8px;
}
.header-title h1{
    font-size: 48px;
}
.header-image{
    padding:10px 20px;
}
.d-block{
    display: block;
}
.header-contact{
    padding-top: 20px;
}
.header-contact span {
    font-size: 13px;
    color:var(--text-color);
}
.header-contact a{
    text-decoration: none;
    color: var(--brand-color);
    font-size: 24px;
}
.w-100{
    padding-top: 20px;
    display: flex;
    min-height: 150px;
}
main{
    padding-top: 10px;
}
.main-title{
    color: var(--brand-color);
}
.main-title h2{
    font-size: 24px;
}

.main-text p{
    display: flex; flex-direction: column;
    padding-top: 10px;
    font-size: 13px;
    color: var(--text-color);
    text-align: left;
}
nav{
    padding-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.nav-title{
    background-color: var(--brand-color);
    height: 45px;
    line-height: 45px;
    text-align: center;
    width: 100%;
}
.nav-title h3{ 
    font-size: 18px;
    color: #fff;
}
.nav-list{
    list-style-type: none;
    padding-left: 20px;
}
.nav-list li{
    
    padding-bottom: 16px;
}
.nav-list li:first-child{
    padding-top: 14px;
}
.nav-list li a{
    font-size: 14px;
    text-decoration: none;
    border-bottom: 2px solid var(--brand-color);
    color: var(--brand-color);
    
}
@media screen and (min-width:750px){
    .wrap{
        align-items: initial;
    }
    .container{
        display: flex;
        flex-direction: row;
        /* justify-content: center; */
        text-align: left;
        width: 100%;
    }
    header{
        display: flex;
        width: 100%;
        
        
        
    }
    .header-contact{
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        width: 50%;
    }
    main{
        width: 80%;
    }
    nav{
        
        width: 20%;
        display: flex;
        flex-direction: column;
    }
    .header-title{
        width: 25%;
    }
    .header-image{
        width: 20%;
        height: 110px;
       
    }
  
    .wrap:before{
        justify-content: flex-start;
        padding-left: 24px;
    }
}
