body{
	font-size: 16px;
	margin: 0;
	padding: 0;
}
div, p ,input, button, form, span, a, ul, li {
	box-sizing: border-box;
} 
h1,h2,h3,h4,h5,h6{
	margin: 0;
	font-family: 'Asap', sans-serif;
	font-weight: 700;
	color: #4d4d4d;

}
img{
	display: block;
	
}
.container{
	width: 1170px;
	margin: 0 auto;
}
/*------------HEADER---------------*/
header{
	padding-top: 30px;
	background-color: #e0e0e0;
}

.row{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}

.menu-list{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	list-style-type: none;
}
.menu-items{
	display: block;	
	margin-right: 38px;
	margin-bottom: -8px;
	padding-bottom: 8px;
}
.menu-link{
	display: block;
	text-decoration: none;
	color:#4a5768;
	text-transform: uppercase;
	font-family: 'Asap', sans-serif;
	font-weight: 400;

}
.menu-items:hover{
	border-bottom: 3px solid #4a5768;
}
.menu-link:hover{
	
	text-transform: capitalize;
}
/*-----------------------offer-------------*/
.offer{
	padding-top: 181px;
	padding-bottom: 269px;
}
.head-title{
	font-size: 90px;
	color: #4d4d4d;
	text-transform: uppercase;
	font-family: 500;
	margin-bottom: 0px;
	
}
.intro{
	font-size: 22px;
	color: #4d4d4d;
	font-family: 'Asap', sans-serif;
	font-weight: 400;
}
.btn{
	display: inline-flex;
	text-decoration: none;
	width: 158px;
	height:50px;
	margin-top: 30px;
	margin-right: 20px;
	background-color: #e2eeff;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	font-weight: 500;
	color: #4a5768;
	font-family: 'Asap', sans-serif;
	cursor: pointer;	
}
.btn:hover{
	background-color: #dfdfdf;
	border: 1px solid #4d4d4d;
}
/*-----------------header-image--*/
.image{
	max-width: 570px;
	width: 100%;
	margin-top: 40px;
	
}
/*------------------ABOUT-------------*/
.about{
	padding-bottom: 124px;
}
.offer_about{
	padding-top: 178px;
	padding-bottom: 173px;
}
.medium-title{
	text-transform: uppercase;
	position: relative;
	font-size: 46px;
	width: 314px;
}
.medium-title::after{
	content: '';
	position: absolute;
	top: 0;
	left: 3px;
	display: block;
	
	height: 4px;
	width: 55px;
	background-color: #4d4d4d;
}
.intro-about{
	margin-top: 0;
	width: 466px;
	text-align: left;
	font-size: 16px;
	
	font-weight: 500;
	line-height: 1.6em;
	color:#535f70;
}
.btn-bigger{
	width: 243px;
	margin-top: 40px;
	background-color: #fff;
	border: 1px solid #4d4d4d;
}
.image-about{
	height: 442px;
	margin-top: 110px;

}
/*-----------services-------------*/
.services{
	padding-top: 118px;
	padding-bottom: 117px;
	background-color: #f6f6f6;
}
.low-title{
	position: relative;
	text-transform: uppercase;
	text-align: center;
	font-size: 46px;
;
	
}
.low-title::after{
	content: '';
	position: absolute;
	top: 0;
	left: 556px;
	display: block;

	height: 4px;
	width: 55px;
	background-color: #4d4d4d;
}
.services-block{
	margin-top: 72px;
}
.service img{
	display: block;
	width: 100%;
}
.service{
	width: 160px;
	text-transform: capitalize;
	
			
}
